<html>
  <head>
    <title>SR</title>
  </head>
    <body>

    <!-- The search box -->
    <p> Search SR programs by name </p>
    <form method="GET">
      <input name="query">
      <input type="submit">
      </form>

    <!-- If a query was passed but no programs -->
    {% if query and not programs %}
      <p> No results for {{query}} </p>
    {% endif %}

    <!-- If programs found -->
    {% if programs %}
      <p> Latest episodes for programs matching {{ query }} :</p>
      <ul>
      <!-- show them as an unordered list -->
      {% for program in programs %}
        <li>
          {{ program.name }}: {{program.latest_episode.title}}
          <br>
          <audio controls>
          <source src={{ program.latest_episode.url_audio }}>
          </audio>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

  </body>
</html>
